{% extends 'base.html.twig' %}
{% block title %}unite cms | Open source decoupled content management system{% endblock %}

{% block body %}
    <section class="front-intro">

        <article class="main">
            <h1><strong>unite</strong> your content</h1>
            <p class="content">unite cms is a headless content management system, that allows you to manage and connect data from any project in one single application. It is open source, built on top of Symfony 4 and ships with a GraphQL API.</p>
            <p class="actions">
                <a href="https://github.com/unite-cms/unite-cms" class="button green" ><i data-feather="github"></i> Check out the code</a>
                <a href="#main-content" class="button white"><i data-feather="arrow-down"></i> Explore</a>
            </p>
            <ul class="devices">
                {% for d in [
                    { icon: 'monitor', text: 'Web' },
                    { icon: 'tv', text: 'TV' },
                    { icon: 'cloud', text: 'Cloud' },
                    { icon: 'watch', text: 'Wearable' },
                    { icon: 'smartphone', text: 'App' },
                    { icon: 'cpu', text: 'IoT' },
                    { icon: 'zap', text: 'Spaceships' }
                ] %}
                    <li>
                        <i data-feather="{{ d.icon }}"></i>
                        {{ d.text }}
                    </li>
                {% endfor %}
            </ul>
            <p class="alert-text">🎉 Stay tuned! We are going to launch a public beta of unite in summer 2018!</p>
        </article>

    </section>

    <section class="section-ui-screenshot" id="main-content">
        <img class="bg" src="{{ asset('/screens/ui_screen_bg.png') }}" />
        <img class="overlay1" src="{{ asset('/screens/ui_screen_overlay1.png') }}" />
        <img class="overlay2" src="{{ asset('/screens/ui_screen_overlay2.png') }}" />
    </section>

    <section class="section-with-frame right group-units-scene">
        <div class="section-anchor"></div>
        <article class="main">
            <h2 class="h1">rethink content management</h2>
            <p>Don't think in separate projects, think in content categories. unite cms allows you to manage all data from your CRM, CMS, asset management, employees or door access control system in one single application.</p>

            <h3><i class="color-icon red" data-feather="link"></i> infinite connectivity</h3>
            <p class="intend-left">Connect all your content across projects without any limits. Find new solutions by combining existing data in a new way. Get insights and create new products based on your content.</p>

            <h3><i class="color-icon yellow" data-feather="zap"></i> just a cms — nothing more</h3>
            <p class="intend-left">Many CMS out there have tons of functions. unite cms focuses only on one thing: let you manage content.</p>
        </article>

        <div class="computer-frame"></div>

    </section>
    <section class="section-with-frame left circle-units-scene">

        <article class="main">
            <h2 class="h1">A new approach to web development</h2>
            <p>Instead of building your next project based on a heavy CMS, just create a new application using your favorite technology stack and consume the unite cms content API.</p>

            <h3><i class="color-icon purple" data-feather="radio"></i> 100% decoupled – 100% flexible</h3>
            <p class="intend-left">The heart of unite cms is a GraphQL API, that allows you to access all
                the content you need in an easy and fast way.</p>

            <h3><i class="color-icon green" data-feather="grid"></i> Separation of concerns</h3>
            <p class="intend-left">A single installation of unite cms + an infinite number of applications that consume content API.
                This decoupled architecture will save you hours of maintenance time.</p>
        </article>

        <div class="computer-frame"></div>

    </section>
    <section class="section-with-frame right row-units-scene">

        <article class="main">
            <h2 class="h1">Designed for content editors</h2>
            <p class="intend-left">For most content editors, dealing with a CMS is a lot of pain. Many CMS are based
                on plugins, that not always play nicely together and also technical features
                are often the project's main focus. We created the unite cms administration interface as a tool for content editors and not developers.</p>

            <h3><i class="color-icon purple" data-feather="edit-2"></i> unified and carefully crafted UI</h3>
            <p class="intend-left">The unite cms administration interface provides a clean and unified user experience,
                that is specifically build for content editors.</p>

            <h3><i class="color-icon red" data-feather="star"></i> A tool for creative professionals</h3>
            <p class="intend-left">unite cms is not a website builder, where you can customize your website design.
                This is the designer's job. Also, you will not be able to download a plugin to extend the
                functionality of your website. This is the developer's job. Instead, unite cms focuses 100% on providing
                the best content management experience.</p>
        </article>

        <div class="computer-frame"></div>

    </section>

    <section class="section-features">
        <h2 class="h1">Main features</h2>

        <article class="feature">
            <i class="color-icon green" data-feather="github"></i>
            <h2 class="h3">Open Source</h2>
            <p>In order to trust unitecms.io, we believe, you should be able to run unite cms on your own server. This way, you can take your data at any time and move it to your own infrastructure.
                We also want to make unite cms the best CMS out there, so you are very welcome to help us at our <a title="Star us, fork us or help us with the issue queue!" href="https://github.com/unite-cms/unite-cms">github repository</a>.</p>
        </article>

        <article class="feature">
            <i class="color-icon purple" data-feather="edit-2"></i>
            <h2 class="h3">Professional CMS features</h2>
            <p>unite cms comes with advanced CMS features like content revisions, soft deletion or multi language
                support and this is just the beginning. Our main focus is to continuously improve the content editors
                user experience.</p>
        </article>

        <article class="feature">
            <i class="color-icon red" data-feather="cpu"></i>
            <h2 class="h3">GraphQL API</h2>
            <p>unite cms implements a full GraphQL API per default. This allows developers to query and write
                even deeply connected content in an incredible easy and fast way.</p>
        </article>

        <article class="feature">
            <i class="color-icon yellow" data-feather="move"></i>
            <h2 class="h3">radically flexible</h2>
            <p>Want to build a website? An app or a whole community? Need a custom CRM or accounting system? Do you
                have an innovative startup idea that needs to connect sensors from your flowerpot to a 3D printer?
                unite cms can be used to manage content for all of this applications and even more.</p>
        </article>
    </section>

    <section class="section-actions">
        <h2 class="h1">Getting started</h2>

        <p class="actions">
            <a href="https://github.com/unite-cms/unite-cms" class="button yellow"><i data-feather="github"></i> Fork us on github</a>
            <span class="responsive-separator"> or </span>
            <a href="{{ path('docs') }}" class="button white"><i data-feather="book"></i> Check out the docs</a>
        </p>
        <p class="small">(Public beta launches in summer 2018)</p>
    </section>

    {% for k, j in 1..4 %}
        {% for i, color in ['red', 'green', 'purple', 'yellow'] %}
            <div draggable="true" class="floating-unit {{ color }} u{{ (k|number_format * 4) + (i|number_format + 1) }}"></div>
        {% endfor %}
    {% endfor %}
{% endblock %}
