<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('build/css/critical.css') }}">
    </head>
    <body>
        <header class="site-header">
            <h2 class="site-name"><strong>unite</strong> cms</h2>
            <nav class="site-menu">
                <input id="site-menu-toggle" type="checkbox">
                <label for="site-menu-toggle">
                    <span class="menu-icon"></span>
                </label>
                <ol>
                    {% for item in [
                        { route: 'front', name: 'Unite' },
                        { route: 'about', name: 'About' }
                    ] %}
                        <li>
                            <a{% if app.request.attributes.get('_route') == item.route %} class="active"{% endif %} href="{{ path(item.route) }}">
                                {% if app.request.attributes.get('_route') == item.route %}<i data-feather="arrow-right"></i>{% endif %}
                                {{ item.name }}
                            </a>
                        </li>
                    {% endfor %}
                    <li><a class="docs" href="https://docs.unitecms.io">Docs</a></li>
                </ol>
            </nav>
        </header>

        {% block body %}{% endblock %}
        <footer class="site-footer">

        </footer>
        <script src="{{ asset('build/js/app.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
    </body>
</html>
