{% extends 'base-light-with-sidebar.html.twig' %}
{% block title %}Docs{% endblock %}
{% block sitename %} | docs{% endblock %}
{% block sidebar %}
    <h4 class="h5">unite cms v.0.4</h4>
    <ul>
        {% for topic in topics %}
            <li>
                <h5><a href="#{{ topic.slug }}"><i data-feather="book"></i> {{ topic.menu }}</a></h5>
                <ul>
                    {% for article in topic.articles %}
                        <li><a href="#{{ topic.slug }}--{{ article.slug }}"><i data-feather="chevron-right"></i> {{ article.menu }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
{% block content %}
    <section class="text-intro">
        <article class="main">
            <h1>Documentation</h1>
            <p>⚠️ unite is not fully production ready yet. At the moment there is no upgrade path between versions, so be
                very carefully if you are using unite cms for a real project right now. As soon as we launch our public
                beta, there will be an upgrade path for each new version.</p>
        </article>
    </section>

    {% for topic in topics %}
        <section class="text-block">
            <div class="topic-anchor" id="{{ topic.slug }}"></div>
            <article class="main">
                <h2><i data-feather="book"></i> {{ topic.headline }}</h2>
                <div class="topic-lead">{{ topic.intro|raw }}</div>

                {% for article in topic.articles %}
                    <div class="article">
                        <div class="article-anchor" id="{{ topic.slug }}--{{ article.slug }}"></div>
                        <h3>{{ article.headline }}</h3>
                        {{ article.content|raw }}
                    </div>
                {% endfor %}
            </article>
        </section>
    {% endfor %}
{% endblock %}
